<h1>Decrypted Message</h1>
<p1>This is a precaution taken to forbid attackers from grabbing your decrypted message</p1>

<details>
          <summary>Click to view your decrypted message</summary>
          <p><%= data %></p>
        </details>