body{
    background-color: #ffffff;
}

.ui.sidebar.visible.vertical.menu
{
    background-color: #f3f3f3;
}

.rightMyMenu
{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.pusher
{
    margin-left: 16rem;
    margin-right: 1rem;
    
}

.myRightBar
{
    background-color: white; 
}

.titleTextPg
{
    font-size: 3.5rem;
    color: white;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 2rem;
    font-family: 'Raleway', sans-serif;
}

.titleCol
{
    padding-top: 2rem;
}

.titleImg
{
    width: 20rem;
    height: 20rem;
    border-radius: 0.5rem;

}

.jumbotron-fluid
{
    padding: 3rem;
}

.card
{
    margin-top: 5rem;
    width: 30rem;
}

.navbar
{
    margin-bottom: 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background-color: white;
}

#replies
{
    margin-top: 1rem;
    margin-left: 10rem;
}

