body{
    background-color: #eeeeee;
}

.jumbotron-fluid
{
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0.5px 0.5px 2px #fbfbfb;
    padding: 3rem;
    padding-top: 1rem;
}



nav
{
    background-color: white;
    margin-left: 0rem;
}

.modal-header
{
    padding-bottom: 0rem;
}

.card
{
    margin-top: 5rem;
    width: 30rem;
}

.navbar
{
    margin-bottom: 1rem;
}

